//
// Variables
// --------------------------------------------------

// Colors
$white: #ffffff;
$black: #000000;
$background: #f1f1f1;
$blue: #094e99;
$red: #e14d43;
$green: #155724;

$border: 1px solid #e1e1e1;